*{margin:0;padding:0;}
a{color:inherit;text-decoration: none;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
em,i,address{font-style: inherit;}
b,strong{font-weight: inherit;}
img{max-width:100%;}

/* common */
html{
    font-size:14px;
    color:#333;
    background:#fff;
}
.innerFrame{
    width:1200px;
    margin:0 auto;
}

/* header */
header{
    height:100px;
    background:#0076BE;
    position:relative;
    z-index: 1000;
}
header .innerFrame{
    display:flex;
    justify-content: space-between;
    height:100%;
    align-items: center;
    position:relative;
}

.gnb{
    display: flex;
    width:600px;
    height:50px;
    color:#fff;
    /* align-self: flex-end; */
}
.gnb>li{
    flex:1;
    position:relative;
}
.gnb>li>a{
    display:flex;
    height:50px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:1.1rem;
}
.gnb>li ul{
    position:absolute;
    left:0;
    top:50px;
    width:100%;
    background:#E66B27;
    height:0;
    overflow: hidden;
    transition:all 0.6s ease 0s;
}
.gnb>li:hover ul{
    height:160px;
}
.gnb>li ul a{
    display:flex;
    height:40px;
    align-items: center;
    justify-content: center;
}
.gnb a:hover{
    background:#000;
}

/* station */
.station{
    width:1200px;
    height:300px;
    margin:0 auto;
    overflow: hidden;
}
.train{
    width:100%;
    height:300%;
    transition: all 1s ease 0s;
}
.train>li{
    height:33.333%;
    line-height: 0;
}

.contents{
    width:1200px;
    height:200px;
    margin:0 auto;
    display:flex;
}
.contents>section{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents>section>h2{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom:20px;
}
.contents>section>a{line-height: 0;}

.noticeList>li{
    display:flex;
    justify-content: space-between;
    margin-bottom:8px;
}
.noticeList>li:last-of-type{
    margin-bottom:0;
}
.galleryList{
    display: flex;
}
.galleryList>li{
    padding:0 4px;
}
.galleryList>li:hover{opacity: 0.8;}

.popup{
    position:fixed;
    left:200px;
    top:200px;
    background:#fff;
    padding:50px;
    border:1px solid #000;
    width:400px;
    z-index: 2000;
    display: none;
}
.popup.on{
    display:block;
}
.popup h2{
    font-size:2rem;
    font-weight: bold;
    margin-bottom:14px;
}
.btnClosePopup{
    margin-top:14px;
    display:inline-block;
    background:#000;
    color:#fff;
    padding:14px 24px;
    cursor: pointer;
}

footer{
    background:#000;
    color:#fff;
    height:100px;
    border:1px solid lime;
}
footer .innerFrame{
    border:1px solid lime;
    height:100%;
    display:flex;
}
.copy{
    border:1px solid red;
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footContent{
    border:1px solid red;
}
.snsFoot{
    display:flex;
    justify-content: center;
}
.footContent{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.footContent label{display: none;}
.footContent form{
    display:flex;
    justify-content: center;
    align-items: center;
}
/* .modal_cover{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background: #000;;
    opacity: 0.7;
    display: none;
    z-index: 1900;
}
.modal_cover.on{
    display: block;
} */