/* reset */
*{margin:0;padding:0;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size:inherit;}
strong,b{font-weight: inherit;}
i,em{font-style: inherit;}
table{border-collapse: collapse;}
img{max-width: 100%;}
a{color: inherit;text-decoration: none;}

/* common */
html{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background:#eee;
}

/* layout ->크기지정 및 배치 */
/* 큰->작 */
.wrap{
    max-width: 1920px;
    margin:0 auto;
    /* border:1px solid red; */
}
header{
    
    display:flex;
    justify-content: space-between;
    padding:30px;
}
.sns{
    display:flex;
}
.sns>li{
    margin-right:10px;
    font-size:30px;
}
.sns>li:last-of-type{margin-right:0;}
header>h1{
    line-height: 0;
    box-shadow:5px 5px 10px black;
}
.station{
    border:1px solid red;
    overflow: hidden;
}
.pagination{
    
    display:flex;
    padding:0 30px;
    font-size:20px;
    margin-bottom:80px;
}
.pagination>li{
    margin-right:20px;
    cursor: pointer;
}
.train{
    width:4600px;
    height:500px;
    display:flex;
    transition:all 1s ease 0s;
}
.train>li{
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    width:180px;
    height:400px;
    margin-right:20px;
    background:#fff;
    border-radius: 5px;
    overflow: hidden;
    position:relative;
    transition:all 0.5s ease 0s;
}
.train>li img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.train>li.on{
    width:780px;
    height:500px;
}
.train>li>p{
    display:none;
}
.btnClose{
    display:none;
}
.title{
    position:absolute;
    left:0;
    bottom:70px;
    width:100%;
    padding:20px 0;
    text-align: center;
    font-size: 20px;
    background:#000;
    color:#fff;
    transition:all 0.5s ease 0s;
}
.train>li.on .title{
    bottom:200px;
    padding:30px 0;
    font-size:30px;
    background: rgba(0,0,0,0.5);
}
.train>li.on>p{
    display:block;
    position:absolute;
    right:20px;
    bottom:20px;
    padding:20px;
    background:#000;
    color:#fff;
    text-align: right;
}
.train>li.on .btnClose{
    display:block;
    position:absolute;
    right:20px;
    top:20px;
    padding:20px;
    cursor: pointer;
}
.btnClose:hover{
    background:#fff;
    color:#000;
}
.mouse.scroll{
    display:block;
}
.mouse{
    display:none;
    position:fixed;
    left:600px;
    top:230px;
    z-index: 100;
}
.mouseBody{
    border:1px solid #000;
    width:30px;
    height:55px;
    margin:0 auto;
    margin-bottom:5px;
    border-radius: 40px;
    position:relative;
}
.ball{
    position:absolute;
    font-size:0px;
    width:10px;
    height:10px;
    background:#000;
    border-radius: 50%;
    left:50%;
    margin-left:-5px;
    top:0;
    animation:mouseball 1s ease 0s infinite;
}
@keyframes mouseball {
    0%{
        top:8px;
    }
    100%{
        top:38px;
    }
}
.innerWrap{
    width:1000px;
    margin:0 auto;
    display:flex;
}
.innerWrap>section>img{
    width:70%;
    height:100%;
    object-fit: contain;
}
.innerWrap>*{flex:1}
.innerWrap>*:nth-of-type(2)>*{margin:10px 0;}
.innerWrap>*:nth-of-type(2)>h2{
    font-size:2em;
    font-weight:bold;
    text-transform: uppercase;
}
.wrap>h1{
    font-size:3rem;
    font-weight:bold;
    text-align: center;
    padding:100px 0;
}
.btnLink {
    display:none;
    position: absolute;
    padding: 20px;
    /* background: #000; */
    color: #fff;
    right: 20px;
    top: 225px;
    text-decoration: underline;
}
.train>li.on .btnLink{display:block;}
.btnLink:hover{
    background:#000;
}