*{margin:0;padding:0;}
.box{
    border:1px solid #000;
    width:200px;
    height:200px;
    margin:50px auto;
    transition:all 1s ease 0s;
}
.a{position:relative;left:0;}
/* .a:hover{transform:translateX(-200px);} */
.a:hover{
    transform:translateX(-50%);
    /* left:-100px; */
}
/* 자신이 갖는 너비의 절반만큼 왼쪽으로 이동 */
.b:hover{transform:translateY(-33%);}
/* 자신이 갖는 높이의 절반만큼 위로 이동 */
.c:hover{
    /* transform:translateX(50%)translateY(-50%)rotate(35deg); */
    transform:translate(50%,-50%)rotate(35deg)scale(2,1.5);
    /* 자신이 갖는 너비의 반만큼 오른쪽 높이의 반만큼 위로 이동 */
}
.d{
    /* transform-origin:17px 30px; */
    transform-origin: 50% 70%;
}
.d:hover{
    transform:rotate(360deg);
}
.e{transform-origin: 50% 50%;}
.e:hover{transform:scaleX(200%);}
.f:hover{transform:scaleY(2);}
.title{
    font-size:0;
    text-transform: uppercase;
}
.title b{
    font-size:10rem;
    /* border:1px solid red; */
    transition:all 0.6s ease 0s;
    display:inline-block;
    transform-origin: 50% 100%;
}
.title b:hover{
    transform:scaleY(200%);
}
.g:hover{
    /* transform:scale(2,1.5);
    transform:scale(200%,150%); */
    transform:scale(2);
}
.h:hover{
    transform:skewY(30deg);
    /* transform: skew(30deg,45deg); */
}

.pers{
    height:100vh;
    border:1px solid red;
    perspective:500px;
    perspective-origin: 50% 0%;
}
.i:hover{
    transform:translateZ(-100px);
}
.j:hover{
    transform:rotateX(180deg);
    /* transform:rotateY(180deg); */
}
