/* reset */
*{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;color:inherit;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
em,i,address{font-style: inherit;}
b,strong{font-weight: inherit;}
img{max-width: 100%;}

/* common */
html{
    font-size:14px;
    color:#222328;
    background:#fff;
}
.wrap{
    width:1200px;
    margin:0 auto;
}
header{
    height:100px;
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    position:relative;
    z-index: 100;
}
header:after{
    content:"";
    position:absolute;
    left:0;
    top:100px;
    width:100%;
    height:0;
    transition:all 0.5s ease 0s;
    background:purple;
    z-index: -1;
}
header.show:after{
    height:180px
}
.logo{
    align-self: center;
}
.gnb{
    width:800px;
    display:flex;
    /* height:40px;
    overflow: hidden; */
    /* transition:all 1s ease 0s; */
    margin-top:30px;
}
.gnb ul a{
    opacity: 0;
    pointer-events: none;
    transition:all 0.5s ease 0.1s;
}
.gnb:hover ul a{
    /* height:200px; */
    opacity: 1;
    pointer-events: auto;
}

.gnb>li{
    flex:1;
}
.gnb>li ul{
    color:#fff;
}
.gnb>li>a{
    font-weight: bold;
    height:70px;
}
.gnb a{
    display:flex;
    align-items: center;
    height:40px;
    padding-left:10px;
    box-sizing: border-box;
}
.gnb a:hover{
    background:#000;
    color:#fff;
}
.station{
    height:300px;
    overflow: hidden;
}
.train{
    width:300%;
    height:100%;
    display: flex;
    transition:all 1s ease 0s;
}
.train>li{
    flex:1;
}
.contents{
    display:flex;
    height:200px;
}
.contents>section{
    flex:1;
}
.tabMenu{
    height:100%;
    position:relative;
}
.tabMenu>dt{
    float:left;
    height:30px;
    width:80px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.tabMenu>dt.on{
    background:#000;
    color:#fff;
}
.tabMenu>dd{
    position:absolute;
    width:100%;
    left:0;
    top:40px;
    display:none;
}
.tabMenu>dt.on+dd{
    display:block;
}
.notice>li{
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
}
.gallery{
    display:flex;
    justify-content: space-between;
}
.gallery>li{
    width:30%;
}
.gallery>li>a{
    display:block;
}
.gallery>li>a img{
    width:100%;
}
footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
}
.sns{
    display:flex;
}
.popup{
    position:fixed;
    left:200px;
    top:200px;
    z-index: 200;
    background:#fff;
    padding:20px;
    width:350px;
    border:1px solid #000;
    box-shadow: 0 0 15px #000;
    border-radius: 10px;
    display: none;
}
.popup.on{
    display:block;
}
.popCon>h3{
    font-weight: bold;
    margin-bottom:14px;
}
.popCtl{
    margin-top:20px;
    display: flex;
    justify-content: flex-end;
}
.btnClosePop{
    background:#000;color:#fff;padding:4px 10px;
    cursor: pointer;
}
.modal_cover{
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:#000;
    opacity: 0.6;
    z-index: 190;
    display:none;
}
.modal_cover.on{
    display: block;
}