*{margin:0;padding:0;}
ul,ol{list-style: none;}
a{color:inherit;text-decoration: none;}
img{max-width: 100%;}

/* 가로형 슬라이드 */
.station{
    width:100%;
    height:740px;
    border:1px solid red;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}
.train{
    width:700%;
    height:100%;
    display:flex;
    transition: all 1s ease 0s;
}
.train>li{
    width:calc(100%/7);
    height:100%;
    border:5px solid blue;
    position:relative;
}
.train>li>img{
    width:100%;
    height:100%;
    object-fit: cover;
}
/* 일반적인 플로팅박스 스타일 */
.flotingBox{
    border:1px solid #fff;
    position: absolute;
    /* left:50px;
    bottom:50px; */
    left:50%;
    top:50%;
    transform: translate(-20%,-50%);
    width:300px;
    background:rgba(0,0,0,0.4);
    color:#fff;
    padding:50px;
    backdrop-filter:blur(30px);
    opacity: 0;
    transition:all 0.5s ease 1.1s
}
/* 슬라이드가 활성화된 플로팅박스 스타일 */
.train>li.on .flotingBox{
    backdrop-filter:blur(3px);
    transform: translate(-50%,-50%);
    opacity: 1;
}
.ctler{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:80%;
    display:flex;
    justify-content: space-between;
}
.ctler>span{
    background:#fff;
    display:flex;
    width:50px;
    height:50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ctler>span.ghost{
    opacity: 0.3;
}
.page{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:30px;
    display:flex;
}
.page>li{
    margin:0 4px;
    border:1px solid aqua;
    font-size:0;
    width:20px;
    height:20px;
}
.page>li.on{
    background:aqua;
}
