/* reset */

*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,b,strong{
    font-weight:inherit;
    font-size:inherit;
}
i,em,address{
    font-style: inherit;
}
a{text-decoration:none;color:inherit;}
img{max-width:100%;}
hr{display:none;}
ul,ol{list-style:none;}
table{border-collapse:collapse;}
/* 표 안의 셀 사이의 공간이 없어지도록 */