*{margin:0;padding:0;}
a{text-decoration:none;color:inherit;}
ul,ol{list-style: none;}

header{
    position:fixed;
    left:0;
    top:0;
    width:300px;
    height:100%;
    background:olive;
}
main{
    background:lightcoral;
    margin-left:300px;
    min-height: 100vh;;
}
.gnb{
    /* border:1px solid red; */
}
.gnb>li{
    border-bottom:1px solid #000;
    height:50px;
    overflow: hidden;
    transition:all 0.6s ease 0s;
}
.gnb>li:nth-of-type(1):hover{
    height:200px;
}
.gnb>li:nth-of-type(2):hover{
    height:250px;
}
.gnb>li:nth-of-type(3):hover{
    height:300px;
}
.gnb>li:nth-of-type(4):hover{
    height:350px;
}
.gnb li>a{
    display:flex;
    height:50px;
    box-sizing: border-box;
    padding-left:20px;
    align-items: center;
    transition:all 0.5s ease 0s;
    position:relative;
}
.gnb li>a:after{
    content:"";
    position:absolute;
    right:20px;
    top:50%;
    margin-top:-10px;
    width:20px;
    height:20px;
    background:url("../img/SVG/linkdeco.svg") no-repeat 50% 50%;
    background-size:8px auto;
}
.gnb>li:hover>a{
    background:#fff;
}
.gnb>li>ul>li>a:hover{
    background:lightgreen;
}
