*{margin:0;padding:0;}
a{color:inherit;text-decoration:none;}
ul,ol{list-style: none;}
img{max-width:100%;}

html{
    font-size:20px;
}

/* layout */
/* 
    큰영역 -> 작은영역순으로 크기와 배치를 맞춘다.
*/
header{
    background:seagreen;
    height:100px;
    color:#fff;
    position:relative;
    z-index:1000;
}
.content1200{
    border:1px solid aqua;
    width:1200px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
.content1200>*{
}
.gnb{
    display:flex;
    width:800px;
}
.gnb>li{
    border:1px solid red;
    height:100px;
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.gnb>li:last-of-type{
    margin-right:0;
}
.gnb>li>a{
    border:1px solid lime;
}
.gnb ul{
    /* display:none; */
    border:1px solid aqua;
    position:absolute;
    left:0;
    top:100px;
    width:100%;
    background:#000;
    /* display:none; */
    /* opacity: 0;
    pointer-events: none; */
    height:0;
    overflow: hidden;
    padding:0;
    padding-left:10px;
    box-sizing: border-box;
    transition:all 0.7s ease 0s;
}
.gnb>li:hover>ul{
    /* display:block; */
    /* opacity: 1;
    pointer-events: auto; */
    height:200px;
    padding:20px 0;
    padding-left: 10px;
}
.gnb ul>li{
    border-bottom:1px solid #fff;
    padding:5px 0;
}



.banner{
    height:500px;
}
.banner img{
    width:100%;
    height:100%;
    object-fit: cover;
}