*{margin:0;padding:0;}
ul{list-style: none;}
a{text-decoration:none;color:inherit;}

header{
    border:5px solid red;
    display:flex;
    justify-content: space-between;
    height:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index: 1000;
    overflow: hidden;
    transition:all 0.8s ease 0s;
    background:#fff;
}
header:hover{
    height:400px;
    background:rgba(255,255,255,0.8);
}
header>*{
    border:1px solid blue;
}
.logo,.lnb{
    width:200px;
}
header nav{
    width:1000px;
}
.gnb{
    border:1px solid green;
    display:flex;
}
.gnb>li{
    border:1px solid green;
    flex:1;
}
.gnb>li>a{
    border:1px solid aqua;
    display:flex;
    height:100px;
    /* justify-content: center; */
    align-items: center;
    padding-left:20px;
}
.gnb>li>ul>li{
    padding:10px 0;
    padding-left:20px;
    border:1px solid black;
}
.banner{margin-top:100px;}