*{
    margin:0;
    padding:0;
}
#container{
    border:10px solid black;
    width:1200px;
}
.a{width:500px;height:300px;background:red;}
.b{
    width:500px;height:200px;background:orange;
    border:10px solid lime;
}
.c{
    width:500px;height:150px;background:green;
    border:10px solid aqua;
    box-sizing: border-box;
}